body{
	background: #333333;
	font-family: Agency FB,Algerian,Times New Roman;
}
div{
	width: 400px;
	margin: auto;
	background: #d9e4f1;
	margin-top: 50px;
	padding: 10px;
	border: 8px ridge #d9e4f1;
}
button{
	background-color: #001122;
	color: white;
	width: 85px;
	height: 60px;
	font-size: 25px;
	border: 1px solid black;
}
input{
	text-align: right;
	font-weight: bold;
	width: 370px;
	height: 60px;
	font-size: 25px;
	background: #001122;
	color: white;
	border: 5px double white;

}
button:hover{
	background: #303f4c;
}
button:active{
	background: green;
}
table tr td{
	padding: 5px;
}
h2{
	color: gold;
	text-align: center;
	font-size: 20px;
	font-family: Agency FB,Algerian,Times New Roman;
	border-bottom: 5px double green;
	width: 410px;
	margin: auto;
	padding: 10px;
}
#del{
	width: 182px;
}
#plus{
	height: 130px;
}